<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Gibbs-Human</title>

    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
    
</head>
<body>
    <div id="top">
        <span id='title'>Gibbs-Human</span>
        <span id='addGroup' class="unselectable">Add Group</span>
    </div>
    <div id="container">
        <div id="game">
        </div>
    </div>
    <div id="warning">
        <div id="warningText">
        </div>
        <span id='warnButton'>OK</span>
    </div>
</body>
</html>
