<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Instructions</title>

    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/instructions.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/js/instructions.js" type="text/javascript" charset="utf-8"></script>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div id="description" class="instruction">
        <h1>What's this?</h1>
        You will be asked to sort a set of images into groups of similar images. They will be abstract, pixelated, black-and-white images.
      </div>
      <div id="sorting" class="instruction">
        <h1>Sorting</h1>
        Click and drag images from the "Next Image" box into a group on the screen.
      </div>
      <div id="adding groups" class="instruction">
        <h1>Adding Groups</h1>
        Click "Add Group" on the left to create a new group. You can divide the images between as many as 8 groups. Once you place an image in a group, you may not move it again.
      </div>
      <div class="instruction">
        {% block extra_instructions %}
        {% endblock %}
      </div>
      <div id="thanks" class="instruction">
        <h1> Thanks for your help! </h1 >
      </div>
      <form method="POST" action="">
        {% block extra_fields %}
        {% endblock %}
        <input id="play" type="submit" value="Go!"></input>
      </form>
    </div>
  </body>
</html>
