html {
    font-family: helvetica;
    font-size: 16px;
    color: #222222;
}
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}


/* our classes */
#top {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 36px;
    width: 100%;
    background-color: #6688DD;
    border-bottom: 2px solid #112233;
    padding-top: 12px;
    padding-left: 16px;
    font-size: 24px;
    line-height: 24px;
}
#game {
    position: relative;
    top: 50px;
    margin: auto;
    background-color: #AAAAB0;
    border: 2px solid #9999A0;
    border-top: 0px;
    border--moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px; 
    border-radius: 0px 0px 20px 20px;
    width: 1000px;
    height: 700px;
    margin: auto;
}

/*
 * Class: image;
 * A moveable game object
 */
.image {
    display: block;
    position: absolute;
    border: 2px solid #9999A0;
    width: 100px;
    height: 100px;
}

/*
 * Style: .dragImage
 * A moveable game image being moved
 */
.dragImage {
    -moz-box-shadow: 2px 2px 2px 2px #222222;
    -webkit-box-shadow: 2px 2px 2px 2px #222222;
    box-shadow: 2px 2px 2px 2px #222222;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=-45, Color='#222222')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=45, Color='#222222');
}

/*
 * Style: .group
 * A group in the game
 */
.group {
    background-color: blue;
    position: absolute;
    width: 200px;
    height: 200px;
}
